{
  "extends": ["plugin:jest/recommended", "airbnb-prettier"],
  "globals": { "window": true, "document": true },
  "plugins": ["jest"],
  "parser": "babel-eslint",
  "env": {
    "jest/globals": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "import/prefer-default-export": false,
    "import/no-extraneous-dependencies": false
  }
}
